<legend>Phones</legend>
<div class="form-inline" *ngIf="crud_operation.is_visible">
  <label>Name:</label>
  <input class="form-control" type="text" placeholder="Galaxy S8..." [(ngModel)]="current_phone.name">
  <label>Manufacturer:</label>
  <input class="form-control" type="text" placeholder="Samsung..." [(ngModel)]="current_phone.manufacturer">
  <label>Price:</label>
  <input class="form-control" type="number" placeholder="$1000" [(ngModel)]="current_phone.price">
  <button class="btn btn-primary"(click)="save()">
    <i class="fa fa-floppy-o" aria-hidden="true"></i>
    Save
  </button>
  <button class="btn btn-default"(click)="crud_operation.is_visible = false">
    <i class="fa fa-ban" aria-hidden="true"></i>
    Cancel
  </button>
</div>
<table class="table table-striped table-hover">
  <tr>
    <th>Name</th>
    <th>Manufacturer</th>
    <th>Price</th>
    <th class="text-right">
      <button class="btn btn-success" (click)="new()"><i class="fa fa-plus" aria-hidden="true"></i></button>
      <button class="btn btn-info" (click)="ngOnInit()"><i class="fa fa-refresh" aria-hidden="true"></i></button>
    </th>
  </tr>
  <tr *ngFor="let row of data">
    <td>{{row.name}}</td>
    <td>{{row.manufacturer}}</td>
    <td>${{row.price}}</td>
    <td class="text-right">
      <div *ngIf="!row.confirm">
        <button class="btn btn-warning" (click)="edit(row)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
        <button class="btn btn-danger" (click)="row.confirm = true"><i class="fa fa-times" aria-hidden="true"></i></button>
        <a class="btn btn-info" [routerLink]="['/phones/', row.name]">
          <i class="fa fa-eye" aria-hidden="true"></i>
        </a>
      </div>
      <div *ngIf="row.confirm">
        <button class="btn btn-danger" (click)="row.confirm = false">Cancel</button>
        <button class="btn btn-success" (click)="delete(row)">Confirm</button>
      </div>
    </td>
  </tr>
  <tr *ngIf="data.length == 0">
    <td colspan="4" class="text-center">No data available</td>
  </tr>
</table>
